#root {
	-fx-background-color: paleturquoise;
}

.label {
	-fx-font-size: 16;
}

.menu .label {
	-fx-font-size: 12;
}

#title {
	-fx-font-size: 30;
	-fx-font-style: italic;
}


#grid {
	-fx-min-width: 360;
	-fx-max-width: 360;
	-fx-min-height: 360;
	-fx-max-height: 360;
	-fx-background-color: lightgreen;
	-fx-background-radius: 20px;
}

#grid * {
	-fx-pref-width: 80;
	-fx-pref-height: 80;
	-fx-background-radius: 20px;
	-fx-background-color: yellow;
	-fx-font-size: 18;
}